.item {
  justify-content: space-between;
  gap: 10px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
.icon {
  margin-right: 5px;
}
.form label {
  display: flex;
  align-items: center;
}
.form input {
  width: 100%;
  line-height: 20px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 2px;
}
.form input:disabled {
  border-color: transparent;
}
.control {
  display: flex;
  justify-content: space-evenly;
}
.btn {
  min-width: 70px;
}
